In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 100)

In [44]:
import os
import sys

In [45]:
sys.path

['',
 'C:\\Users\\dongt\\Anaconda3\\python36.zip',
 'C:\\Users\\dongt\\Anaconda3\\DLLs',
 'C:\\Users\\dongt\\Anaconda3\\lib',
 'C:\\Users\\dongt\\Anaconda3',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\dongt\\.ipython',
 'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks\\..\\src',
 'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks\\..\\src']

In [46]:

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

In [47]:
sys.path

['',
 'C:\\Users\\dongt\\Anaconda3\\python36.zip',
 'C:\\Users\\dongt\\Anaconda3\\DLLs',
 'C:\\Users\\dongt\\Anaconda3\\lib',
 'C:\\Users\\dongt\\Anaconda3',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\dongt\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\dongt\\.ipython',
 'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks\\..\\src',
 'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks\\..\\src',
 'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks\\..\\src']

In [2]:
religion = pd.read_csv('../data/raw/religion/national.csv')
religion.head(2)

,year,state,code,christianity_protestant,christianity_romancatholic,christianity_easternorthodox,christianity_anglican,christianity_other,christianity_all,judaism_orthodox,judaism_conservative,judaism_reform,judaism_other,judaism_all,islam_sunni,islam_shi’a,islam_ibadhi,islam_nationofislam,islam_alawite,islam_ahmadiyya,islam_other,islam_all,buddhism_mahayana,buddhism_theravada,buddhism_other,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,shinto_all,baha’i_all,taoism_all,jainism_all,confucianism_all,syncretism_all,animism_all,noreligion_all,otherreligion_all,religion_all,population,protestant_percent,romancatholic_percent,easternorthodox_percent,anglican_percent,otherchristianity_percent,christianity_percent,orthodox_percent,conservative_percent,reform_percent,otherjudaism_percent,judaism_percent,sunni_percent,shi’a_percent,ibadhi_percent,nationofislam_percent,alawite_percent,ahmadiyya_percent,otherislam_percent,islam_percent,mahayana_percent,theravada_percent,otherbuddhism_percent,buddhism_percent,zoroastrianism_percent,hinduism_percent,sikhism_percent,shinto_percent,baha’i_percent,taoism_percent,jainism_percent,confucianism_percent,syncretism_percent,animism_percent,noreligion_percent,otherreligion_percent,religion_sumpercent,total_percent,dual_religion,source_code
0,1945,United States of America,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,1364508,1902885.0,552300,4641182,0,0,0,0,0,0,0.0,0,0,0,1601218,1601218,0,0,0,0,0,0,0,0,0,0,22874544,545938,139382062,139928000,0.4722,0.2767,0.008,0.0172,0.0140,0.7880,0.0059,0.0098,0.0136,0.0039,0.0332,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0114,0.0114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1635,0.0039,0.9961,1.0,0,13
1,1950,United States of America,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,1790706,2497244.0,724809,6090837,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22568130,618022,151652986,152271008,0.4800,0.2800,0.020,0.0200,0.0077,0.8077,0.0071,0.0118,0.0164,0.0048,0.0400,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1482,0.0041,0.9959,1.0,0,18

In [3]:
religion['year'].unique()

array([1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995,
       2000, 2005, 2010], dtype=int64)

In [4]:
country_code = religion[['state', 'code']].drop_duplicates()
country_code.to_csv('../data/interim/country_code.csv')

In [5]:
import os
os.getcwd()

'C:\\Users\\dongt\\Documents\\data science\\projects\\Capstone 2\\notebooks'

In [6]:
df = religion[['state','year','christianity_all','judaism_all','islam_all','buddhism_all','zoroastrianism_all',
                        'hinduism_all','sikhism_all','confucianism_all','noreligion_all']]
column_list = list(df)
print(column_list)

['state', 'year', 'christianity_all', 'judaism_all', 'islam_all', 'buddhism_all', 'zoroastrianism_all', 'hinduism_all', 'sikhism_all', 'confucianism_all', 'noreligion_all']

In [7]:
religion_list = column_list[2:]

In [8]:
df['sum'] = df[column_list].sum(axis=1)

In [9]:
df = df.rename(columns={'state':'Country/Region'})

In [10]:
df

,Country/Region,year,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,sum
0,United States of America,1945,110265118,4641182,0,1601218,0,0,0,0,22874544,139384007
1,United States of America,1950,122994019,6090837,0,0,0,0,0,0,22568130,151654936
2,United States of America,1955,134001770,5333332,0,90173,0,0,0,0,23303540,162730770
3,United States of America,1960,150234347,5500000,0,2012131,0,0,0,0,21548225,179296663
4,United States of America,1965,167515758,5600000,0,1080892,0,0,0,0,19852362,194050977
...,...,...,...,...,...,...,...,...,...,...,...,...
1990,Samoa,1990,159500,0,37,15,0,0,0,0,1200,162742
1991,Samoa,1995,161677,0,43,16,0,0,0,0,1084,164815
1992,Samoa,2000,174600,0,50,18,0,0,0,0,1500,178168
1993,Samoa,2005,177510,0,58,18,0,0,0,0,1525,181116
1994,Samoa,2010,180140,0,61,19,0,0,0,0,2750,184980

In [11]:
df[['year', 'Country/Region', 'sum']][df['Country/Region']=='China']

      year Country/Region        sum
1626  1945          China  105409009
1627  1950          China  125701622
1628  1955          China  207375718
1629  1960          China  318670200
1630  1965          China  339347910
1631  1970          China  423466828
1632  1975          China  532067674
1633  1980          China  572636334
1634  1985          China  608333432
1635  1990          China  652806797
1636  1995          China  683375573
1637  2000          China  679277498
1638  2005          China  696240948
1639  2010          China  718379236

In [12]:
# percentage
for i in religion_list:
    df[i] = df[i] / df['sum']

In [13]:
df

,Country/Region,year,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,sum
0,United States of America,1945,0.791089,0.033298,0.000000,0.011488,0.0,0.0,0.0,0.0,0.164112,139384007
1,United States of America,1950,0.811012,0.040162,0.000000,0.000000,0.0,0.0,0.0,0.0,0.148812,151654936
2,United States of America,1955,0.823457,0.032774,0.000000,0.000554,0.0,0.0,0.0,0.0,0.143203,162730770
3,United States of America,1960,0.837909,0.030675,0.000000,0.011222,0.0,0.0,0.0,0.0,0.120182,179296663
4,United States of America,1965,0.863256,0.028858,0.000000,0.005570,0.0,0.0,0.0,0.0,0.102305,194050977
...,...,...,...,...,...,...,...,...,...,...,...,...
1990,Samoa,1990,0.980079,0.000000,0.000227,0.000092,0.0,0.0,0.0,0.0,0.007374,162742
1991,Samoa,1995,0.980960,0.000000,0.000261,0.000097,0.0,0.0,0.0,0.0,0.006577,164815
1992,Samoa,2000,0.979974,0.000000,0.000281,0.000101,0.0,0.0,0.0,0.0,0.008419,178168
1993,Samoa,2005,0.980090,0.000000,0.000320,0.000099,0.0,0.0,0.0,0.0,0.008420,181116
1994,Samoa,2010,0.973835,0.000000,0.000330,0.000103,0.0,0.0,0.0,0.0,0.014866,184980

In [14]:
df = df.drop('sum', axis=1)

In [32]:
df2 = df.copy()

In [33]:
df2.head(2)

,Country/Region,year,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all
0,United States of America,1945,0.791089,0.033298,0.0,0.011488,0.0,0.0,0.0,0.0,0.164112
1,United States of America,1950,0.811012,0.040162,0.0,0.000000,0.0,0.0,0.0,0.0,0.148812

In [34]:
import country_converter as coco

cc = coco.CountryConverter()

def country_name_converter(df, col_name):
    some_names = list(df[col_name])
    standard_names = cc.convert(names = some_names, to = 'name_short')
    df['country2'] = standard_names
    df = df.replace('not found', np.nan)
    num_nulls = df['country2'].isnull().sum().sum()
    print('number of nulls:', num_nulls)
    df['country2'] = np.where(df['country2'].isna(), df[col_name], df['country2'])
    df = df.drop(col_name, axis=1)
    df = df.rename(columns={'country2': 'country'})
    return df

In [35]:
df2 = country_name_converter(df2, 'Country/Region')

WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Federal Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:German Democratic Republic not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Yugoslavia not found in regex
WARNING:root:Republic of Vietnam not found in regex
WARNING:root:Republic of Vietnam not found in regex
WARNING:root:Republic of Vietnam not found in regex
WARNING:root:Republic of Vietnam not found in regex

number of nulls: 33

In [36]:
df2

,year,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,country
0,1945,0.791089,0.033298,0.000000,0.011488,0.0,0.0,0.0,0.0,0.164112,United States
1,1950,0.811012,0.040162,0.000000,0.000000,0.0,0.0,0.0,0.0,0.148812,United States
2,1955,0.823457,0.032774,0.000000,0.000554,0.0,0.0,0.0,0.0,0.143203,United States
3,1960,0.837909,0.030675,0.000000,0.011222,0.0,0.0,0.0,0.0,0.120182,United States
4,1965,0.863256,0.028858,0.000000,0.005570,0.0,0.0,0.0,0.0,0.102305,United States
...,...,...,...,...,...,...,...,...,...,...,...
1990,1990,0.980079,0.000000,0.000227,0.000092,0.0,0.0,0.0,0.0,0.007374,Samoa
1991,1995,0.980960,0.000000,0.000261,0.000097,0.0,0.0,0.0,0.0,0.006577,Samoa
1992,2000,0.979974,0.000000,0.000281,0.000101,0.0,0.0,0.0,0.0,0.008419,Samoa
1993,2005,0.980090,0.000000,0.000320,0.000099,0.0,0.0,0.0,0.0,0.008420,Samoa
1994,2010,0.973835,0.000000,0.000330,0.000103,0.0,0.0,0.0,0.0,0.014866,Samoa

In [37]:
df2.to_csv('../data/processed/religion.csv', index=False)

In [38]:
pd.read_csv('../data/processed/religion.csv')

,year,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,country
0,1945,0.791089,0.033298,0.000000,0.011488,0.0,0.0,0.0,0.0,0.164112,United States
1,1950,0.811012,0.040162,0.000000,0.000000,0.0,0.0,0.0,0.0,0.148812,United States
2,1955,0.823457,0.032774,0.000000,0.000554,0.0,0.0,0.0,0.0,0.143203,United States
3,1960,0.837909,0.030675,0.000000,0.011222,0.0,0.0,0.0,0.0,0.120182,United States
4,1965,0.863256,0.028858,0.000000,0.005570,0.0,0.0,0.0,0.0,0.102305,United States
...,...,...,...,...,...,...,...,...,...,...,...
1990,1990,0.980079,0.000000,0.000227,0.000092,0.0,0.0,0.0,0.0,0.007374,Samoa
1991,1995,0.980960,0.000000,0.000261,0.000097,0.0,0.0,0.0,0.0,0.006577,Samoa
1992,2000,0.979974,0.000000,0.000281,0.000101,0.0,0.0,0.0,0.0,0.008419,Samoa
1993,2005,0.980090,0.000000,0.000320,0.000099,0.0,0.0,0.0,0.0,0.008420,Samoa
1994,2010,0.973835,0.000000,0.000330,0.000103,0.0,0.0,0.0,0.0,0.014866,Samoa

In [39]:
# Load the "autoreload" extension
%load_ext autoreload

# always reload modules marked with "%aimport"
%autoreload 1

import os
import sys

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

# import my method from the source code
%aimport data.choose_less_nulls
from data.choose_less_nulls import sort_nulls_groupby

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
sort_nulls_groupby(df2, 'year')

Year  Count of Nulls
1945 0
1950 0
1955 0
1960 0
1965 0
1970 0
1975 0
1980 0
1985 0
1990 0
1995 0
2000 0
2005 0
2010 0

choose Year 2010

In [41]:
religion_2010 = df2[df2['year']==2010].drop(['year'], axis=1).reset_index(drop=True)
religion_2010

,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,country
0,0.755275,0.019253,0.009120,0.011049,0.005329,0.005825,0.001318,0.000297,0.192528,United States
1,0.769638,0.009909,0.019509,0.019509,0.000178,0.008008,0.008008,0.000079,0.165103,Canada
2,0.963698,0.000971,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028931,Bahamas
3,0.830216,0.000168,0.000897,0.000000,0.000000,0.002802,0.000000,0.000000,0.165692,Cuba
4,0.890919,0.000013,0.000195,0.000000,0.000000,0.000000,0.000000,0.000000,0.108649,Haiti
...,...,...,...,...,...,...,...,...,...,...
189,0.827438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Nauru
190,0.940754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022148,Marshall Islands
191,0.859152,0.000000,0.021956,0.008502,0.000000,0.001261,0.000000,0.000000,0.015229,Palau
192,0.939702,0.000000,0.000000,0.006363,0.000000,0.000000,0.000000,0.000000,0.034260,"Micronesia, Fed. Sts."
193,0.973835,0.000000,0.000330,0.000103,0.000000,0.000000,0.000000,0.000000,0.014866,Samoa

In [42]:
religion_2010.to_csv('../data/processed/religion_2010.csv', index=False)

In [43]:
pd.read_csv('../data/processed/religion_2010.csv')

,christianity_all,judaism_all,islam_all,buddhism_all,zoroastrianism_all,hinduism_all,sikhism_all,confucianism_all,noreligion_all,country
0,0.755275,0.019253,0.009120,0.011049,0.005329,0.005825,0.001318,0.000297,0.192528,United States
1,0.769638,0.009909,0.019509,0.019509,0.000178,0.008008,0.008008,0.000079,0.165103,Canada
2,0.963698,0.000971,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028931,Bahamas
3,0.830216,0.000168,0.000897,0.000000,0.000000,0.002802,0.000000,0.000000,0.165692,Cuba
4,0.890919,0.000013,0.000195,0.000000,0.000000,0.000000,0.000000,0.000000,0.108649,Haiti
...,...,...,...,...,...,...,...,...,...,...
189,0.827438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Nauru
190,0.940754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022148,Marshall Islands
191,0.859152,0.000000,0.021956,0.008502,0.000000,0.001261,0.000000,0.000000,0.015229,Palau
192,0.939702,0.000000,0.000000,0.006363,0.000000,0.000000,0.000000,0.000000,0.034260,"Micronesia, Fed. Sts."
193,0.973835,0.000000,0.000330,0.000103,0.000000,0.000000,0.000000,0.000000,0.014866,Samoa